---
const mentorYears = new Date().getFullYear() - 2022
---

<div class="mt-10 lg:mt-16">
	<h3 class="text-xl font-bold">Extra</h3>
	I have been a teacher/mentor for {mentorYears} years now. I am an AI enthusiast and I enjoy building websites from scratch.
</div>